<section class="vbox" style="background: #eee;">
  <app-header></app-header>
  <section>
    <section class="hbox stretch">
      <aside class="bg-dark lter aside-md hidden-print" id="nav">
        <app-leftnav></app-leftnav>
      </aside>
      <section id="content">
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li>
                <a href="index.html">
                  <i class="fa fa-home"></i> Home</a>
              </li>
              <li class="active">Workset</li>
            </ul>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>